---
layout: page
title: Learning Resources
---
{% for post in site.categories.resources %}
  <a href="{{ site.github.url }}{{ post.url }}">
    <div class="featured-posts" {% if post.image %}style="background-image:url({{ site.github.url }}/assets/img/{{ post.image }})"{% endif %}>
      <h2><span>{{ post.title }}</span></h2>
    </div>
  </a>
{% endfor %}
Amdo dialect speech recordings on Torrent

Xunhua Oral Amdo Tibetan–Two Young Men Chat
‘Phags pa don ‘grub and Rdo rje bkra shis, both Tibetan-English majors at Qinghai Normal University in Xining City, chat with the idea that learners of oral Amdo Tibetan would have listening material. See http://www.youtorrent.com/torrent/48406/xunhua-oral-amdo-tibetan-two-young-men-chat
Oral Amdo Tibetan: Mang ra (Mang chu; Guinan)
Kha ba rnan rgyal (Kawa Namgyal; Bun khrang rgyal) and Ban phrug chat in the Mang ra Tibetan Amdo Dialect. Mang ra is located in the current Guinan County, Hainan Tibetan Autonomous Prefecture, Qinghai Province, PR China. Kha ba rnan rgyal (Kawa Namgyal; Bun khrang rgyal) is from Bya mdo (Shagou) Township and Ban phrug is from Mgo mang (Guomaying) Township. See http://www.youtorrent.com/torrent/46431/oral-amdo-tibetan-mang-ra-mang-chu-guinan
Oral Tibetan–Natives of Kha khog and Gser zol Chat
Thub brtan mgon po and Tshe dpag skyabs, natives of Kha khog and Gser zol, respectively, chat in order to provide Tibetan language materials for Tibetan learners. Both young men (classmates) are graduates of the Tibetan-English program at Qinghai Normal University in Xining City. See http://www.youtorrent.com/torrent/48421/oral-tibetan-natives-of-kha-khog-and-gser-zol-chat
