---
layout: page
title: Video
---
{% for post in site.categories.sample %}
  <a href="{{ site.github.url }}{{ post.url }}">
    <div class="featured-posts" {% if post.image %}style="background-image:url({{ site.github.url }}/assets/img/{{ post.image }})"{% endif %}>
      <h2><span>{{ post.title }}</span></h2>
    </div>
  </a>
{% endfor %}

Amdo dialogues: “Can you help me find Akhu Nima?”
without comments
A college student visits a nomadic region in search of Uncle Nima.
Translation and grammatical notes coming soon. Transcriptions have not been edited – corrections will be made as editing occurs.
Speaker M1 is a 22-year-old male from near Labrang; speaker M2 is a  22-year-old male from Lha mo Township, Glu chu County, in Ganlho (Ch. Gannan) Autonomous Prefecture.
Paying a Visit: Part 1
M1: ཨ་རོགས། ཁྱོད་སྡེ་བ་འདིའི་ནང་གི་ཨེ་ཡིན།
M2: ཡིན།    ཁྱོ་བྱ་བ་ཆུ་ཟིག་ཡོད།
M1: ངས་ཁྱོད་ཆ་བོའི་སྡེ་བའི་ནང་གི་ཨ་ཁུ་ཉི་མ་ཚངབཙལ་གི་སྡོད།    ཁྱོས་ཨ་ཁུ་ཉི་མ་ཚང་གང་ཡིན་ན་ཤེས་འ།
M2: དེ་ད་ལས་ཤེས་ཁྱོད་རི་གན་གི་ཧར་ནང་བུད་གྲ    དེ་ནས་གཡོས་ཕྱོགས་ག་སུར་ར་སོང་གྲ་གན་ན་ཁྱིམ་ཚང་དསུམ་ཡོད་དེའི་ནང་གི་དཀྱིལ་ཁུག་མ་བོ་ཨ་ཁུ་ཉི་མ་ཚང་རེད།
M1: རི་འདི་ནས་ཧ་ར་རིག་ས་བོ་གན་ཨེ་རེད།
M2: ཨོ་རེད།་རི་གན་གི་སྟག་ག་བུད་ར་ཚུར་ར་དཀྱོག་དྲ་དེ་རེད།
M1: ཁྱོད་དཀའ་ལས་རེད་དྲ་ཁྱོས་ང་གན་ན་ཅིག་ཁྱིད་ན་མ།
M2: ཡ།    དེ་ཆོག་གི་ང་གན་ས་རྫི་བོ་འགྱོ་རྒྱུ།
M1: དེ་ན་འགྲིག་སྡད་གི
M2: ཨ་རོགས་ཁྱོའི་རྐང་སྣམ་འདི་ཐད་སྡོ་ནི་མ་ར།
M1: ད་འདི།    ཧན་ཧན།་་ཐད་སྡོ་ནི་ཅིག་དེང་སེང་བཟང་བ་ཟིག་ག་བརྩི་གི་སྡོད་ནི་རེད་ཡ།ད་ཅིག་སློབ་མ་ཆ་བོ་ར་དེང་སེང་གི་གསར་རི་ཆ་ཨོ་ཟོམ་བཅའ་གོ་དུས་ད་ཐོག་ན་ཕྲ་ཁུང་ཅན་འདྲ་ཐེད་དོ་ནོ་གོན་ན་ཅིག་བཟང་བ་ཟིག་ར་མྱིག་ལམ་མ་མཛའ་མོ་ཟིག་གི་ལོག་སྡད་ནི་རེད།དེ་ན་ཁྱོས་འཐུར་གི་སློབ་མ་མང་བ་ཟིག་རིག་མ་མྱོང་ནི་མ་ར།
M2: ངས་སློབ་མ་མང་བ་ཟིག་ཆེས་རིག་ཡ་ང་ཆུང་དུས་ནས་སློ་གྲ་འགྲིམས་འགྱོའི་སྐལ་བ་མ་བྱུང་ནི་རེད།་ད་ཐིག་ག་ཟོག་ལུག་གི་མཉམ་པའི་བསྡད་ནི་ཟོག་ལུག་གི་འགྱོ་སྟངས་མ་གཏོག་སློབ་མ་ཆ་ཨོ་འགྱོ་སྟངས་ངས་ཅིག་ག་རིག་ཡོད་ནི་མ་རེད།
M1: ཨོ་རེད་རེད།་ད་དེ་ཡིན་ན་ཁྱོའི་མི་ཚེ་ཕྱེད་ཀ་རྫས་ན་ཆོག་གི་ད་གང་སྟར་ཁྱོའི་དུས་ཚོད་མང་བ་ཟིག་ཟོག་ལུག་འཚོས་ནི་རི་འགོ་ནས་ཚར་སོང་ཟིག་ད་ཁྱོའི་བསམ་ཚུལ་རྫས་ན་ཆོག་གི་ཆུང་དུས་སློབ་གྲ་མ་སོང་ན་ད་བར་དུ་ཟོག་ལུག་འཚོས་ནོ་གི་མཉམས་མྱོང་རྫས་ན་ཆོག་གི་ད་དེ་ཆུ་མོ་ཟིག་རེད།
Paying a Visit: Part 2
M2: དི་ང་ཡིན་རྒྱུ་ན་རང་རང་གི་ཐད་ག་ནས།གནའ་དེང་མ་ཟི་ཡིན་རྒྱུ་ན་ངེད་ཆ་ཨོ་ཁང་བ་མེད་གི་བཟའ་ཚང་གང་བོ་བལ་ཧུག་ནི་ལང་ལོང་རེ་འགྱོ་དགོས་ནོ་མ་གཏོག་ཁང་བ་རྫས་ན་དེ་མོ་དྲོན་བོ་མེད་གི་་ད་དེས་དགུན་ཁའི་བཙག་མི་ཁོག་དབྱར་ཁའི་ཆར་མི་ཁོག་དེའི་ཕྲོད་ནས་ངེད་ཆ་བོས་སྤང་སྒོར་གྱང་ནི་དེ་བརྩིག་ཀྱོང་ནི་ས་ཁང་འདྲ་ཧུགད་སྐབས་འདྲ་ཡིན་རྒྱ་ན་ཅོ་མག་གི་ཁང་བ་ཧུག་གྱོང་ནི་ད་དའི་ནང་བསྡད་ཡོད་ནི་རེད།འོན་གྱང་ད་དེའི་ནང་ན་ར་རང་གིཕ་མ་རྒན་རྒོ་ལོ་ལོན་ཆ་ཨོ་བསྡ་ཡོད་ནི་རེད།རང་ག་བསྡད་ནི་མ་གི་རྒྱུ་མཚན་རང་ག་འབྲོག་པ་རེད་འབྲོག་པ་ཡིན་ད་རྫོད་དུས་རང་གི་ཁར་རྒྱབ་འཁེནས་བོ་སེམས་ཅན་རེད།སེམས་ཅན་འཚོ་དགོས་ནོ་གི་ལང་ལོང་དབྱར་དགུན་མེད་ར་་མ་སོང་ང་མ་གི།ད
M1: དེ་ན་ཁྱེད་ཆ་བོ་ཅོ་མག་གི་ཁང་བའི་ནང་ནས་ཆུ་མོ་ཟིག་ག་འདུག་ནི་རེད་ད་ལོ་གཅིག་ག་རྫས་ན་ཆོག་གི
M2: ལོ་གཅིག་གི་ནང་འདུག་རྒྱུ་ཅང་ཡོད་ནི་མ་རེད་འཚམས་འཚམས་ཟོ་༐ཕ་མ་ཟོ་སྐོར་རེ་རྒྱག་གི་འབྲོགས་ནས་ཞོ་རྒྱག་བྱེད་གི་འོ་མ་རེད་འདྲ་མར་གསོ་མ་རེ་ར་ཆུར་བ་རེ་འཁྱེར་ནས་ཡོང་ཡིས་ཉི་མ་ཁུ་རུ་གཉིསརེ་འདུག་ནི་རེད།དེ་མགཏོག་ད་དབྱར་དགུན་སྟོན་དཔྱིད་མེད་ར་ཟོག་རྫ་ན་བདད་ཡོད་ནི་རེད།
M1: ད་རང་གི་མི་ཚེ་གང་བོ་རྫས་ན་ཆོག་གི་ཟོག་ལུག་གི་རྫ་སོང་ནི་མར་ཆུ་ར་རྒྱ་ནོར་གསོག་ནི།དབྱར་གི་ཆར་ར་དགུན་གི་བཙག་ག་མ་འཛེམས་མ་རྒྱུ་ནོར་འདུ་མོ་མང་བ་གསོག་ནི་ཁྱོད་རང་གི་བསམས་ཚུལ་ཡིན་རྒྱུ་ན་ཁྱོས་ཆུ་ཟིག་གི་ཕྱོགས་ག་བཀོལ་བསམ་གི་་་་ཁྱོ་ས་དེ་རང་དོན་མེད་འཕྲོད་བརླག་གཏོང་རྒྱུ་མ་རེད།     དེ་ཡིན་ན་ཁྱོས་དེ་གན་ན་དོན་དག་ཡག་པོ་ཟི་ཆུ་བྱེད་སྒྲུབས་བ་བསམ་གི
Paying a Visit: Part 3
M2:དེ་ང་ཡིན་རྒྱུ་ན་རྒྱུ་ནོར་འདི་མོ་མང་བ་ཟིག་གསོག་སྡད་ནི་༐ཕ་མ་གཉིས་ག་དྲིན་ལན་རྫས་ན་ཆོག་གི་སྟོད་ཉི་མ་ལྷ་ས་ཟོ་ཇོ་མཇལ་རེ་སོང་།་དེས་རྗེས་ཕྱོགས་རང་ག་བུས་ཕྲུག་རེ་ཡོད་གི་བུས་ཕྲུག་ཟོ་རང་གི་ལྟ་བཅོས་ནི་ནོར་ལུག་གི་རྫ་མི་གཏོང་རྒྱོ།དེས་སློབ་གྲ་ཧུད་རྒྱོ་སློ་གྲ་ཧུད་ད་རྫོད་དུས་སློབ་ཡོན་མང་བོ་ཟི་དགོ་ནི་རེ་ཟེར་གི        དེ་ཡིན་ཐ་རྫོད་དུས་ཁུ་ཟོས་ཅིག་བ་ན་སློབ་གྲ་ཆེ་རེ་མངགས་རྒྱོ་ཐ་རྫོད་དུས་སྒོར་མོ་གི་དཀའ་ཁག་ཡོད་རྒྱུ་རེད་བསམ་ནི་ད་འདིས་མོས་བཅས་ནི་སྒོར་མོ་གསོག་བསྡད་ནི་བ་ན་མ་ན་ཁུ་ཟོའི་འདོད་བློ་སྐོང་རྒྱོ་དུ་ཡིན།
M1: བསམ་པ་ཡག་ག་བཟུང་ཡོད་གི
M2: ཡ་ཨ་རོ་ཁྱོད་དེང་སྐབས་སློབ་མ་རེད་མོ།
M1: རེད་ང་ད་སྐབས་སློབ་གྲ་ཆེན་མོ་བ་ཟིག་ཡིན་ཁ་ཡད་སྡོད་ལས་རེད།
M2: ཨོ་དེ་ན་ཁྱོད་ད་སྐབས་འགྱོ་ས་བོའི་སློ་གྲ་གང་ན་ཡོདནི་རེད།
M1:  ད་ང་འགྱོ་ས་བོའི་སློབ་གྲ་མཚོ་སྔོན་དགེ་ཐོན་སློ་གྲ་རེད།
M2: ཨོ་རེད་མཚོ་སྔོན།    མཚོ་སྔོན་རྫས་ན་ཟི་ལིང་རེད་ཨ།
M1: ཨོ་རེད་རེད།
M2: ཨོ་དེའི་དགེ་ཐོན་སློབ་གྲ་འི་ནང་ནས་ཁྱོའི་ཆེས་ལས་ཆུ་ཟིག་ཡིན་ནི་རེད།
M1: སྤྱིར་དགེ་ཐོན་སློབ་གྲ་ནང་ནས་མཐར་ཕྱིན་ནདགེ་རྒན་བཅའ་རྒྱོ་དེ་རེད།    ད་ང་ཡིན་ན་ར་དེ་ཡིན་ནི་རེད་དགེ་རྒན་བཅའ་རྒྱོ་ངི་ཆེད་ལས་རེད་རྫས་ན་ཆོག་གིདེའི་ནང་ནས་ད་རུང་ངས་གཙོ་བོ་བྱེད་རེ་སྦྱང་གི་བསྡད་ནོ་བོད་ཡིག་ར་དབྱིན་ཡིག་ར་ད་དེ་མོ་ཟིག་རེད།
M2: ཨོ་རེད།    དེས་ཁྱོས་བོད་ཡིག་སྦྱང་དགོ་རྒྱོ་རེད་དྲ་ཁྱོད་རང་བོད་རེད།     དེས་ཁྱོས་དབྱིན་ཡིག་ཆུ་ཟིག་སྦྱང་དགོ་ནི་རེད་ཁྱོད་གན་ཟིག་ག་འགྱོ་བསམ་འགོ་ནི་མ་ར།
M1: ད་འགྱོ་འདོད་གོ་ནི་མ་རེད་དྲ།    ད་ཧ་ར་མ་སོང་ན་ར་འུ་ཟོའི་རྒྱལ་ཁབ་འདི་གིད་ཡིག་རིགས་འདི་འཛམ་གླིང་གི་སྤྱི་སྐད་གི་ལོག་སྡོ་ནི་རེད།མ་འོང་བ་ཟིག་ག་ད་ཅང་མི་འགོར་ར་གཙོ་བོ་ཟིག་ག་འགྱུར་རྒྱུ་རེད།ཡིག་རིགས་འདི་མ་ཤེས་ན་མྱི་རྒྱབ་མི་ཆོད་ནི་དེ་མོ་གི་ལོག་རྒྱུ་རེད་དེས་གི་ད་ངས་འདི་སྦྱང་ནི་ཡིན་ཡ།
Paying a Visit: Part 4
M2: ཨོ་དེ་ན་ཁྱོས་དབྱིན་ཡིག་ར་བོད་ཡིག་གཉིས་ག་ད་ཐིག་གས་གཙོ་བོ་ཡད་ནི་སྦྱང་ནི་མ་འོང་བ་དེ་ན་ཁྱོས་ཆུ་བཅའ་བསམ་གི
M1: ད་རེད་ངེད་ཆ་བོ་སློབ་གྲ་འདིའི་ནང་གི་མཐར་ཕྱིན་ཙིག་གི་དགེ་རྒན་རེད།དེ་ནས་ཆ་གཅིག་གི་རྫས་ན་ཆོག་གི་དམིགས་ཡུལ་གཅིག་རྫས་རེ་བཤད་ན་ཆོག་གིའུ་ཟོའི་བོད་མི་རིགས་གི་བྱིས་བ་ཆ་བོ་རང་གི་ནུས་བ་ཡོད་དགུ་བཏོན་ནས་ནོར་ལུག་གི་རྫ་མི་འདེད་འགྱོ་ར་དེ་ཆབོའི་རྒྱུ་ར་རིགས་གནས་ཡོན་ཏན་ཟིག་འབྱོར་རྒྱོ་རང་གི་ཕུག་བསམ་གཅིགརྫས་ན་ཆོག་གི་རང་གི་འབད་པ་ཡད་རྒྱུ་ཡིན།དེས་ནས་རང་གིས་བོད་ཡིག་ར་དབྱིན་ཡིག་སྦྱང་དགོས་ནོ་གི་དམིགས་ཡུལ།དེང་སྐབས་འུ་ཟོའི་བོད་མི་རིགས་གི་རིག་གནས་འདི་ཡ་འཚར་ཟིག་ཡིན་ནོ་འཛམམ་གླིང་སྟེངན་སྙན་གྲགས་ཆེ་གི
རེད་དྲ་འུ་ཟོའི་བོད་བོད་རང་གི་ཡིག་གེ་མཁས་བ་ཡོད་རུང་མི་རིགས་གཞན་གི་ཡིག་གེ་འི་མཁས་བ་མེད་གི་རྫས་ནི་མིན་དྲ་དེ་མོ་མང་པོ་མེད་གི
དེས་རྐྱེན་གི་རང་གི་དབྱིན་ཡིག་དཔྱིས་ཕྱིན་བ་ཟིག་ཟོ་སྦྱང་མི་ཐུབ་ན་ར་རང་འགོ་ཁྱོང་ནི་སྦྱང་ཡིས་རང་གི་མཐུན་མོང་མ་ཡིན་པའི་རིག་གནས་འདི་གཞན་ཟིག་ག་མངོན་ཐུབ་རྒྱུ་ན་རང་ག་མཚོན་ན་དོན་དག་དགའ་ཟི་རེད་བསམ་ནི་ཡིན་ཡ།
M2: ཨོ་ད་བྱེ་གི་སྲ་གི་བྱ་བ་ཡག་ག་ལས་ར་བྱ་བ་ཆུ་ཟིག་ཡིན་ན་རང་ག་ལམ་མ་འགྱོ་གྱོ་རེད།དེའི་འུ་ཟོའི་བོད་གི་ཁ་དཔེ་ར་བསམ་བ་བཟང་ན་ས་དང་ནམ་ཡང་བཟང།དེས་བསམ་བ་ཡག་ག་ཟིག་བཟུང་སྡ་དེས་ནམ་ཡིན་ན་བྱ་བ་ལམ་མ་འགྱོ་ནི་རེད།འདི་རེད་ཨ་ཁུ་ཉི་མ་ཚང་ཐོན་དང་ནོ་ནི་འདི་རེད་ཁྱིམ་ཚང་གསུམ་ཡོད་ནོའི་དཀྱིལ་ཁུག་མ་བོ་རེད།     ཁྱོས་རྒྱང་ནས་བོས་མིན་འདའ་ཁྱི་འགྱིགས་འགྱོ་རེད།ཁྱོས་རྒྱང་ནས་བོས་དྲ་ཁྱོའི་སྔུན་ན་ཁྱི་གུའི་ལྟ་ནི་ཟིག་དེ་བ་ཅིག་སྒོར་འབུད་རྒྱོ་རེད།
M1: ཡ་ཡ་དེ་ད་ལས་ཡིན་ད་ཨ་ཁུ་བཀའ་དྲིན་ཆེས།
M2: ཡ་ད་བདེ་མོ་ང་རྫི་འ་འགྱོ་ནི།
M1: ཡ་ད་བདེ་མོ་བདེ་མོ།
